/* common styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;   

}
.btn-primary{
    border-radius: 5px;
    background: #FFF;
    padding:10px 30px;
    border:0px;
    cursor: pointer;
}
section{

}
/* Navigation style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    height: 80px;
    padding: 0 200px;
}
.menus ul{
    display: flex;
}
.menus li{
    list-style: none;
    padding:10px 20px;
}
.menus li a{
    text-decoration: none;
    color: black;
    font-style: oblique;
    font-size: 16px;
}
.menus li a:hover{
    background-color:aqua;
    border-radius: 10px;
    padding: 2px 2px;    
}
.banner-container{
    background-image: url("../image/background.jpg"), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;  
    align-items: center;
}
.red-btn{
    background-color: red;
    color: white;
}
.white-btn{

}
.banner-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight:900;
    padding-bottom: 10px;
    color: white;
}
.banner-desc{
    padding-bottom: 10px;
}
.banner-content{
    display: block;
    justify-content: left;
    width: 700px;
    padding-top: 50px;
    padding-left: 260px;
    color: white;

    
}

.service-container{
    background-image: url('../image/footer-bg.png'), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode:darken;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
    gap: 100px;
    
}
.service-info{
    color: white;
}

.service-title{
    padding-top: 20px;
    padding-bottom: 10px;
}
.service-desc{
    padding-bottom: 10px;
}
.author{
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
}
.author-img  {
    width: 100px;
}
.vline{
    border-right:2px solid white;
    height: 100px;
}
.service-box{
    display: block;
}

.service-card{
    display: flex;
    gap: 5px;
    text-align: center;
}
.card{
    display: block; 
    border-radius: 5px;
    background-color: white;
    width: 250px;
    height: 200px;
}
.card-info{
    display: block;
    padding-top: 25px;
}
.card img{
    width: 100px;
    padding-bottom: 20px    ;
}
